<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to TicketBooking!!</title>
    <!-- Bootstrap CSS -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/home.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="top">
        <div class="header">
            Ticket Booking🎫
        </div>
    </div>
    <div id="loginbox">
        <div id="log-row">
            <div class="box">
                <img class="image" src="/static/admin.jpg" alt="admin image"/>
                <div><a href="/admin" class="btn btn-primary">Admin Login</a></div>
                <div class="list">
                    <ul>
                        <li>create, edit and delete venues</li>
                        <li>create, edit and delete shows</li>
                        <li>view and manage user bookings</li>
                        <li>generate summary on revenue</li>
                    </ul>
                </div>
            </div>
            <div class="box">
                <img class="image" src="/static/user.jpg" alt="user image"/>
                <div><a href="/user" class="btn btn-primary">User Login</a></div>
                <div class="list">
                    <ul>
                        <li>search and filter shows by tags, city, show name etc.</li>
                        <li>view details about shows, including venue, date, time, etc.</li>
                        <li>book tickets for shows, including specifying the number of tickets</li>
                        <li>view their bookings and tickets</li>
                        <li>rate and review shows after attending them</li>
                    </ul>
                </div>
            </div>             
        </div>
    </div>
    <div class="footer">
        <h4 style="color: white;">Contact Us</h4>
        <p style="color: white;">For support, please email: <span style="color: rgb(0, 162, 255);">ticketbooking@yahoo.com</span></p>
        <p style="color: white;">&copy; 2023 TicketBooking App. All rights reserved.</p>
    </div> 
</body>
</html>
