<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No show Booked</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/showbooked.css" />
</head>
<body>
    <div class="top">
        <div class="topbar">
            <div>
                <h4 style="color: white; margin-left: 10px;">User Bookings</h3>
            </div>
            <div id="topright">
                <div><a  href="/user/venue" style="color: white;">Home</a></div>
                <div><a  href="/user/profile" style="color: white;">Profile</a></div>
                <div><a href="/logout" style="color: white;">Logout</a></div>
            </div>
        </div>
    </div>
    <h1>No shows or venues Available!</h1>
</body>
</html>