<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Booking</title>
    <link rel="stylesheet" href="/static/venuebook.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="top">
        <div class="header">
            <h1>Ticket Booking🎫</h1>
        </div>
        <div class="topbar">
            <div>
                <h4 style="color: white; margin-left: 10px;">User Dashboard</h3>
            </div>
            <div>
                <form action="/user/search" method="post">
                    <div class="search">
                        <div class="ss">
                            <input type="search" placeholder="Search by Movies" name="movie">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="ss">
                            <input type="search" placeholder="Search by city" name="city">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="topright">
                <div><a class="nav-link" href="/user/profile" style="color: white;">Profile</a></div>
                <div><a class="nav-link" href="/user/bookings" style="color: white;">Bookings</a></div>
                <div><a class="nav-link" href="/logout" style="color: white;">Logout</a></div>
            </div>
        </div>
    </div>
    <div class="row1">
        <div class="center">
            <div class="venue-box">
                {% for i in ven %}
                <div class="venue-details">
                    <h3 class="venue-name">{{ i.venue_name }}🍿👀🎞</h3><h6><span>{{i.location}}, </span>{{i.place}}</h6>
                    {% if ven[i]==[] %}
                    <div>
                        <h5>NO show Available!!</h5>
                    </div>
                    {% endif %}
                    {% if ven[i]!=[] %}
                    <div class="show-box">
                        {% for j in ven[i] %}
                        {% if now < j.timing and j.rating>=4 %}
                            <div class="show-details">
                                <h5>{{j.show_name}}🎞️</h5>
                                <p>{{ j.timing.strftime('%d/%m/%Y %I:%M %p') }}</p>
                                {% if j.seats>0 %}
                                <div>
                                    <a href="/user/show/details/{{j.show_name}}">Watch Trailer</a><br>
                                    <a class="but" href='/user/show/book/{{i.venue_id}}/{{ j.show_id }}'>Book Tickets</a>
                                </div>
                                {% else %}
                                <h6 style="color: red;">HouseFULL</h6>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="sidebar">
                <div class="tags">
                    <h4 style="color: white;">Tags</h4>
                    <div><a href="/user/tagsearch/Action" style="color: aqua;">Action</a></div>
                    <div><a href="/user/tagsearch/Drama" style="color: aqua;">Drama</a></div>
                    <div><a href="/user/tagsearch/Thriller" style="color: aqua;">Thriller</a></div>
                    <div><a href="/user/tagsearch/Horror" style="color: aqua;">Horror</a></div>
                    <div><a href="/user/tagsearch/Comedy" style="color: aqua;">comedy</a></div>
                    <div><a href="/user/tagsearch/Romantic" style="color: aqua;">Romantic</a></div>
                </div>
                <div class="rated">
                    <h4 style="color: white;">Ratings</h4>
                    <div><a href="/user/ratesearch/5" style="color: aqua;">5 star</a></div>
                    <div><a href="/user/ratesearch/4" style="color: aqua;">4 star</a></div>
                    <div><a href="/user/ratesearch/3" style="color: aqua;">3 star</a></div>
                    <div><a href="/user/ratesearch/2" style="color: aqua;">2 star</a></div>
                    <div><a href="/user/ratesearch/1" style="color: aqua;">1 star</a></div>
                </div>
            </div>
        </div>
        <div class="footer">
            <h4 style="color: white;">Contact Us</h4>
            <p style="color: white;">For support, please email: <span style="color: rgb(0, 162, 255);">ticketbooking@yahoo.com</span></p>
            <p style="color: white;">&copy; 2023 TicketBooking App. All rights reserved.</p>
        </div>
    </div>
    
</body>
</html>